@import 'assets/common.scss';
.dashboard {
  width: 100%;
  min-height: 100vh;
  @include breakpoint(xl){
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  background: $black;
  padding: 90px 0 0;
}
.dashboard-content-container{
  background: $black url('~/public/dash_bg.png') no-repeat 50% 50%/cover;
  min-height: calc(100vh - #{$appHeaderHeight});
  @include breakpoint(xl){
    min-height: 0;
    flex: 1 1 auto;
  }
}
