@import 'assets/common.scss';
.progress-counter{
  font-family: 'Sarpanch';
  font-weight: 700;
  font-size: 38px;
  @include breakpoint(sm){
    font-size: 48px;
  }
  @include breakpoint(xl){
    font-size: 64px;
  }
  line-height: 1.4;
  color: $white;
}