@import 'assets/common.scss';
.DashboardHome {
  @include breakpoint(lg-down){
    // TODO: responsive design
    display: none;
  }
  background: $black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  height: 100%;
  .l-container{
    min-width: 0;
    min-height: 0;
    padding: 50px 40px 0;
    display: flex;
    flex-direction: column;
    @include breakpoint(under1400) {
      padding: 40px 25px 0;
    }
  }
  .r-container{
    min-width: 0;
    min-height: 0;
    padding: 50px 15px 60px;
    background: $black url('~/public/dash_home_r_bg.png') no-repeat 50% 100%/ 100% auto;
    @include breakpoint(under1400) {
      padding: 40px 25px 50px;
    }
    color: $white;
  }
  .top-container{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    .Grbutton{
      white-space: nowrap;
    }
    .top-title{
      font-family: 'Sarpanch';
      font-weight: 700;
      font-size: 40px;
      line-height: 1.06;
      color: $white;
      word-break: break-word;
      margin-right: 10px;
      @include breakpoint(under1400) {
        font-size: 32px;
        margin-right: 5px;
      }
    }
  }
  .anime-img-container{
    min-height: 0;
    flex: 0 0 auto;
    width: 85%;
    margin: 0 auto;
    .anime-img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .l-list{
    // DONT NEED ANY STYLES IF USED CUSTOMSCROLLLIBRARY
    // display: flex;
    // flex-direction: column;
    // overflow: auto;
    // max-height: 345px;
  }
  .HomeListItem{
    &:not(:last-child){
      margin-bottom: 22px;
    }
  }
}
