
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/GothamPro-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Sarpanch-Bold.woff2') format('woff2');
}