// fonts
$font-base: 'Gotham', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$darkgrey: #272727;
$gray: #C4C4C4;
$copy-text-color: #C7C7C7;
$pastel-pink: #E8A3FF;
// $yellow: #FECD0A;
// $black: #231F20;
// $purple: #833EC8;
// $green: #ADBF68;
// $blue: #4AA2C1;
// $red: #EE3925;
// $orange: #F49E1F;


//base of BS breakpoints
$screen-xs:					0;
$xs:						$screen-xs;
$screen-sm:					576px;
$sm:						$screen-sm;
$screen-md:					768px;
$md:						$screen-md;
$screen-lg:					992px;
$lg:						$screen-lg;
$screen-xl:					1200px;
$xl:						$screen-xl;

// 0 - 1399
$screen1440:        1440px;
$under1400:       $screen1440;    

$pad-x: 15px;
$pad-y: 15px;
$maxcontentwidth: 1920px;
$header-height: 90px;
$appHeaderHeight: 90px;
$app-background-color: $black;
$dash-panel-bw: 7px;
